*{
    margin: 0;
    padding: 0;
}

:root{
    /* Marca */
    --snitap-sun: #FFCD1E;
    
    --snitap-sky-mid: #06B6D4;
    --snitap-sky-light: #67E8F9;
    
    --snitap-joy-mid: #DB2777;
    --snitap-joy-light: #F472B6;
    
    --snitap-leaf-mid: #16A34A;

    /* Base */
    --color-text: #000000;
    --color-highlights: #000000; 
    --background-color: #FAFAFA; 

    /* Text */
    --ff-syne: "Syne", sans-serif;

    --ff-montserrat: "Montserrat", sans-serif;
}