*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Marca */
    --snitap-sun: #FFCD1E;
    
    --snitap-sky-mid: #06B6D4;
    --snitap-sky-light: #67E8F9;
    
    --snitap-joy-mid: #DB2777;
    --snitap-joy-light: #F472B6;
    
    --snitap-leaf-mid: #16A34A;

    /* Base */
    --color-text: #000000;
    --color-highlights: #000000; 
    --background-color: #FAFAFA; 

    /* Text */
    --ff-base: "Montserrat", sans-serif;

    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 2.5rem;
    --text-xl: 4rem;
}

html{
    font: 500 1rem/1.5 var(--ff-base);

}

button{
    font: 500 1rem/1.5 var(--ff-base);
}

h1{
    font-family: 'Syne', sans-serif; 
    font-size: var(--text-xl);
    line-height: 1.25;
}

h2{
    font-family: 'Syne', sans-serif;
    font-size: var(--text-lg);
    line-height: 1.2;
}